@import url('https://fonts.googleapis.com/css?family=Gaegu|Lato');

body {
  font-family: 'Lato', sans-serif;
}

.centered-div {
  display: block;
  margin: auto;
  margin-top: 180px;
  /*height: 392px;
  width: 456px;*/
  text-align: center;
}

.centered-div h1 {
  font-family: 'Gaegu', cursive;
}

.bordureRouge {
  border-color: #dc3545;
}

.btnSupprimerTache {
  cursor: pointer;
}

.btnSupprimerTache:hover {
  color: #dc3545;
}

.iconeSupprimer {
  cursor: pointer;
}

.iconeSupprimer:hover {
  color: #dc3545;
}

.texteTacheProjet {
  font-size: 18px;
}

.list-style-type-none {
  list-style-type: none;
}

.modifierCategorie {
  cursor: pointer;
}

.modifierCategorie:hover {
  color: #28a745;
}

.checkAvancement:checked {
  background-color: #dc3545;
  color: #dc3545;
}

.checkAvancement:checked {
  background-color: #28a745;
  color: #28a745;
}
