{% extends 'base.html.twig' %}

{% block title %}Gestion des types de projet{% endblock %}

{% block body %}
<h1>Types de projet</h1>
<a class="btn btn-outline-success mb-4 mt-2" href="{{ path('nouveauType') }}"><i class="fa fa-plus"></i> Nouveau type de projet</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom du type de projet</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">1</td>
      <td class="align-middle">Projet web</td>
      <td class="align-middle text-right"><a class="btn btn-outline-info" href="{{ path('modifierType', {'name':"Projet web"|url_encode}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a> <a class="btn btn-outline-danger" href="#"><i class="far fa-trash-alt"></i> Supprimer</a></td>
    </tr>
    <tr>
      <td class="align-middle">2</td>
      <td class="align-middle">Projet akkalia</td>
      <td class="align-middle text-right"><a class="btn btn-outline-info" href="{{ path('modifierType', {'name':"Projet akkalia"|url_encode}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a> <a class="btn btn-outline-danger" href="#"><i class="far fa-trash-alt"></i> Supprimer</a></td>
    </tr>
    <tr>
      <td class="align-middle">3</td>
      <td class="align-middle">Un autre type</td>
      <td class="align-middle text-right"><a class="btn btn-outline-info" href="{{ path('modifierType', {'name':"Un autre type"|url_encode}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a> <a class="btn btn-outline-danger" href="#"><i class="far fa-trash-alt"></i> Supprimer</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
